* {
  border: 0;
  padding: 0;
  margin: 0;
}

html {
  background-color: rgb(14, 34, 25);
}

h2 {
  font-family: "Mali", cursive;
  color: rgb(255,255,255);
  padding-left: 7px;
}

p {
  color: rgb(173, 255, 47);
}

.intro {
  margin: auto;
  border: 1px solid rgb(173, 255, 47);
  width: 700px;
  height: 135px;
  padding-left: 7px;
  padding-top: 35px;
}

.intro_2 {
  position: relative;
  left: 5px;
  bottom: 45px;
  margin: auto;
  width: 700px;
}

a:link {
  color: rgb(73, 72, 143);
  text-decoration: underline;
}

a:visited {
  color: rgb(255, 255, 255);
}

a:hover {
  color: rgb(255, 123, 0);
}

a:active {
  color: rgb(255, 0, 0);
}

a:focus {
  background-color: rgb(0, 204, 255);
}

.container_1_header {
  color: rgb(255,255,255;
  display: block;
  position: relative;
  bottom: 207px;
  background-color: rgb(56, 46, 46);
  border: 1px solid rgb(56, 46, 46);
  width: 698px;
  margin: auto;
}

img {
  height: 220px;
  width: 420px;
  display: block;
  margin: auto;
  margin-top: 5px;
  margin-bottom: 5px;
}

.interests {
  font-weight: bold;
  color: rgb(255, 255, 255);
}

.creative {
  font-weight: bold;
  color: rgb(255, 255, 255);
}

.video_games {
  font-weight: bold;
  color: rgb(255, 255, 255);
}

.other {
  font-weight: bold;
  color: rgb(255, 255, 255);
}

.boards_list {
  color: rgb(173, 255, 47);
  margin: auto;
  border: 1px solid rgb(173, 255, 47);
  width: 700px;
  height: 273px;
  padding-left: 7px;
  padding-top: 40px;
}

.boards_list li {
  width: 150px;
}

ul {
  columns: 100px 4;
  column-count: 4;
  list-style-type: none;
  overflow: hidden;
}

.container_2_header {
  color: rgb(255, 255, 255);
  display: block;
  position: relative;
  bottom: 314px;
  background-color: rgb(73, 72, 143);
  border: 1px solid rgb(73, 72, 143);
  width: 698px;
  margin: auto;
}

.row_1 {
  padding-bottom: 10px;
}

.row_2 {
  padding-bottom: 10px;
}

.row_3 {
  padding-bottom: 10px;
}

.row_4 {
  padding-bottom: 10px;
}

footer {
  background-color: rgb(49, 48, 48);
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 35px;
  text-align: center;
}

footer a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

footer p {
  padding-top: 8px;
}
